{% extends "blog/base.html" %}
{% block title %}{{post.title_tag}}{% endblock title%}
{% block content%}
    <div class='container m-2'>
    
        <h1>{{ post.title }}</h1>
        <small> By : {{ post.author}} </small>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href='{% url 'update_post' post.pk %}' class='btn btn-success'>Edit Post</a>
                <a href='{% url 'delete_post' post.pk %}' class='btn btn-danger'>Delete Post</a>
            {% endif %}
        {% endif %}
        
        <hr>
        <img  src="{{post.pic.url}}"  width="500px" class="m-3">
        <br/>
        <br/>
        <hr>
        {{ post.content|safe}}
        <br/>
            <form action={% url 'like_post' post.pk %} method='POST'>
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit" name="post_id" value={{ post.id }}>
          <span class="glyphicon glyphicon-thumbs-up"></span> like
        </button> - {{ total_likes}} Likes <br/><br/>
        <button href="#" class="btn btn-info btn-sm" >
          <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
        </button>          
        </form>
        
        <br/><br/>
        <hr>
        <br/>
        <a href='{% url 'home'%}' class='btn btn-primary m-3'>Back</a>

    </div>
{% endblock content%}