{% extends "blog/base.html" %}
{% block title %}{{post.title_tag}}
{% endblock title%}
{% block content%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}
</style>
    <div class='container m-2'>
    
        <h1>{{ post.title }}</h1>
        <small> By : {{ post.author}} </small>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href='{% url 'update_post' post.pk %}' class='btn btn-success'>Edit Post</a>
                <a href='{% url 'delete_post' post.pk %}' class='btn btn-danger'>Delete Post</a>
            {% endif %}
        {% endif %}
        
        <hr>
        <img  src="{{post.pic.url}}"  width="350px" class="m-3">
        <br/>
        <br/>
        <hr>
        {{ post.content|safe}}
        <br/>
            <form action={% url 'like_post' post.pk %} method='POST'>
            {% csrf_token %}
            <button class="btn btn-info btn-sm" type="submit" name="post_id" value={{ post.id }}>
          <span class="glyphicon glyphicon-thumbs-up"></span> like
        </button> - {{ total_likes}} Likes <br/><br/>
         <br/><br/>
         <h2>Comments</h2> 
         <hr>
         {% if not post.comments.all %}   
              No comments yet... <a href='{% url 'add_comment' post.pk %}'>Add Comment</a>
         {% else %}
         <a href='{% url 'add_comment' post.pk %}'>Add Comment</a>
         </br></br>
              {% for comment in post.comments.all%}
                  <strong>{{comment.name}} -
                {{ comment.date_added}}</strong>
                <br/>
                {{ comment.body }}
                <hr>
                </br>
          
              {% endfor %}
              <a href='{% url 'add_comment' post.pk %}'>Add Comment</a>
         {% endif %} 
          
        </form>
        
        <br/><br/>
        <hr>
        
        <br/>
        <br/>
        <h4>About the author :</h4> </br>
       
        
        <div class="card" style="width:300px">
        <div class="card-body">
            <h4 class="card-title">{{ post.author}}</h4>
            <p class='small text-muted'>
            
            {% if post.author.profile.website_url%}
            <a href="{{ post.author.profile.website_url}}" class="fa fa-dribbble"></a>
            {% endif %}
            
            {% if post.author.profile.facebook_url%}
            <a href="{{ post.author.profile.facebook_url}}" class="fa fa-facebook"></a>
            {% endif %}
            
            {% if post.author.profile.twitter_url%}
            <a href="{{ post.author.profile.twitter_url}}" class="fa fa-twitter"></a>
            {% endif %}
            
            {% if post.author.profile.linkedn_url%}
            <a href="{{ post.author.profile.linkedn_url}}" class="fa fa-linkedin"></a>
            {% endif %}
            {% if post.author.profile.instagram_url %}
            <a href="{{ post.author.profile.instagram_url}}" class="fa fa-instagram"></a>
            {% endif %}
            </p>
            <p class="card-text">{{ post.author.profile.bio }}</p>
            <a href="{% url 'show_profile_page' post.author.profile.id %}" class="btn btn-primary">See Profile</a>
        </div>
            <img class="card-img-bottom" src="{{post.author.profile.profile_pic.url}}" alt="Card image" style="width:100%">
        </div>
        </div>
        <br/>
        <br/>
        <a href='{% url 'home'%}' class='btn btn-primary m-3'>Back</a>
        </div>
    </div>
{% endblock content%}