{% extends "blog/base.html" %}
{% block title %}Delete Blog Post !{% endblock title%}
{% block content%}
{% if user.is_authenticated %}
<h1>Delete Post</h1>
<br/>
<br/>
<h3><div class="alert alert-danger" role="alert">
  <strong>Are you sure you want to delete </strong> {{ post.title }} ?
</div></h3>
<br/>
<div class='form-group'>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<button class='btn btn-primary'>Delete Post</button>
</form>
</div>
{% else %}
  <div class="alert alert-warning" role="alert">
          You are not allowed to delete the post unless you login
    </div>
{% endif %}
{% endblock content%}