
{% extends "blog/base.html" %}
{% block title%}Blog{% endblock title%}
{% block content%}
{% for post in object_list %}
<div class='container'>   
<div class="card m-2 " style="width: auto">
 
  <div class="card-body">
             <h5 class="card-title"><a class="mr-2" href="#"><b>{{ post.author }}</b></a>
                 <br/>
                 {{ post.date_posted}}
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            <a href='{% url 'update_post' post.pk %}' class='btn btn-success'>Edit</a>
                            <a href='{% url 'delete_post' post.pk %}' class='btn btn-danger'>Delete</a>
                        {% endif %}
                    {% endif %}
             </h5>
             
                <img class="" src="{{post.pic.url}}" alt="Post image" width="250px" class="m-3">
                <h3><a class="card-text" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.content |safe|truncatewords:"50"|linebreaks }}</p>
                <a href="{% url 'article-detail' post.pk %}">read more</a>
                   
    </div>
</div>
</div>
<br/>

{% endfor %}

{% endblock content %}